<section data-ng-controller="HomeController">
	<div class="jumbotron text-center">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
				<img alt="Apphera Logo" class="center" src="modules/core/img/brand/logo.png" />
			</div>
		</div>
		<br>
		<div class="row">
			<p class="lead">
				Apphera Social Media Monitoring and Engagement - Community Edition
			</p>
		</div>
		<div class="row">
			<p>
				<a class="btn btn-primary btn-lg" href="http://www.apphera.com" target="_blank">Learn more</a>
			</p>
		</div>
	</div>
	<div>
		<h2>Congrats! Your Apphera dashboard is up and running</h2>
		<p></p>
		<p>This dashboard serves as the playground for ways to interact with the Apphera Core Platform</p>
		<ul>
			<li>
				Click
				<em>Signup</em>
				to get started.
			</li>
			<li>
				Configure your app to work with your social accounts, by editing the
				<em>/config/env/*.js</em>
				files.
			</li>
			<li>
				Don't forget to add your API Key to connect to your Apphera Core installation.
			</li>
			<li>
				For a commercial or service provider edition visit <a href="http://www.apphera.com"> Apphera</a>.
			</li>
			<li>
				Have fun...
			</li>
		</ul>
	</div>
	<div class="row">
		<div class="col-md-3">
			<h2>
				Listen
			</h2>
			<p>Listen for your mentions on Instagram, YouTube, Facebook, Twitter and many other sources.</p>
		</div>
		<div class="col-md-3">
			<h2>
				Engage
			</h2>
			<p>Engage with your audience via social media, create campaigns, integrate with your CRM or other systems</p>
		</div>
		<div class="col-md-3">
			<h2>
				Analyze
			</h2>
			<p>No more: "It's my data but it's somewhere in someone elses cloud!" - Own your data, analyze it.</p>
		</div>
		<div class="col-md-3">
			<h2>
				<strong>Go Pro</strong>
			</h2>
			<p>If you are looking for comprehensive brand analysis, competitor tracking, opinion mining or review tracking accross a variety of networks contact us at <a href="http://www.apphera.com">Apphera</a></p>
		</div>
	</div>
	<div class="well">
		<h2>Apphera Documentation</h2>
		<p>
			Useful links to user documentation as well as developer documentation
			<ul>
                <li><a target="_blank" href="http://www.apphera.com">Dashboard User Guide</a>
                </li>
				<li><a target="_blank" href="https://git.apphera.com/root/apphera-documentation/wikis/home">Apphera API (Apphera Core API)</a>
				</li>
				<li><a target="_blank" href="http://www.apphera.com">Apphera Home</a>
				</li>
                <li><a target="_blank" href="https://github.com/nikoma">Don't forget to follow me on Github...</a>
                </li>


			</ul>
		</p>
	</div>
	<br>Enjoy &amp; Keep Us Updated,
	<br>Apphera, Inc.
</section>
