<section data-ng-controller="KeywordsController">
    <div class="page-header">
        <h1>New Keyword</h1>
    </div>
    <div class="col-md-12 editac-container">
        <form class="form-horizontal" data-ng-submit="create()" novalidate>
            <fieldset>
                <div class="form-group row">
                   <div class=" col-md-3 text-right"> <label class="control-label" for="name">Name</label></div>
                    <div class="controls col-md-4">
                        <input type="text" data-ng-model="name" id="name" class="form-control" placeholder="Name" required>
                        <!--<input type="text" data-ng-model="something" id="something" class="form-control" placeholder="Something">-->

                    </div>
					<div class="col-md-5"></div>	
                </div>
                <div class="form-group row">
                <div class=" col-md-3"></div>
                   <div class="controls col-md-6"> <input type="submit" class="btn org-btn" value="save"></div>
                </div>
                <div class="col-md-3"></div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>
</section>