<section data-ng-controller="OrganizationsController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="organization.name"></h1>
	</div>
	<div class="pull-right" data-ng-show="authentication.user._id == organization.user.id">
		<a class="btn btn-primary" href="/#!/organizations/{{organization.id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<small>
		<em class="text-muted">
			Posted on
			<span data-ng-bind="organization.created | date:'mediumDate'"></span>
			by
			<span data-ng-bind="organization.user.displayName"></span>
		</em>
	</small>
</section>