<section data-ng-controller="twitterController" data-ng-init="find()">
    <div class="page-header">
        <h1>Twitter</h1>
    </div>

      <div  id="loader"   ng-show="loader">
    <img src="modules/core/img/big-ajax-loader.gif" />
    </div>


     <div class="alert alert-warning text-center" ng-show="noData">
    	No data found
    </div>

    <div class="list-group">
        <a target="_blank" data-ng-repeat="twitter in test" data-ng-href="{{twitter.player_url}}" class="list-group-item">
            <small class="list-group-item-text1">
			<table cellspacing="0" cellpadding="0" border="0" width="100%;">
				<tr>			                   

                  <td width="10%"><img ng-src="{{twitter.body.user.profile_image_url}}"/>&nbsp;</td>
				  <td width="3%"><spacer type="block" width="1%"></td>
				  <td width="30%"> by <span data-ng-bind="twitter.twitter_user_name"></span> </td>
				  <td width="3%"><spacer type="block" width="1%"></td>
				  <td width="30%">Posted on <span data-ng-bind="twitter.body.text"></span></td>
				  <td width="3%"><spacer type="block" width="1%"></td>
				  <td width="21%"><span data-ng-bind="twitter.created_at | date:'medium'"></span></td>
				</tr>				
               </table>
            </small>
			<h4 class="list-group-item-heading" data-ng-bind="twitter.name"></h4>
        </a>
        <begriffs.pagination collection="test" url="url"></begriffs.pagination>	
    </div>

</section>