<section data-ng-controller="SearchController" data-ng-init="find()">
    <div class="page-header">
        <h1>Search 
	        <select ng-model="market" ng-change="find()">
		        <option value="en-IN">India</option>
		        <option value="en-US">USA</option>
	        </select>
        </h1>
    </div>


       <div  id="loader"   ng-show="loader">
    <img src="modules/core/img/big-ajax-loader.gif" />
    </div>


     <div class="alert alert-warning text-center" ng-show="noData">
    	No data found
    </div>
    <div class="list-group">
        <a target="_blank" data-ng-repeat="track in tracks" data-ng-href="{{track.link}}" class="list-group-item">
			<!--<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="track.body.created_time | date:'medium'"></span>
				by
				<span data-ng-bind="track.body.from.name"></span>
                <img ng-src="{{track.body.picture}}"/>
			</small>-->
            
            <small class="list-group-item-text1">
			<table cellspacing="0" cellpadding="0" border="0" width="100%;">
				<tr>
				 <td width="20%">{{track.ranks}}</td>
				 <!--  <td width="3%"><spacer type="block" width="1%"></td>
					<td width="62%"> by  <span data-ng-bind="track.body.from.name"></span> </td>
					<td width="1%"><spacer type="block" width="1%"></td>
					<td width="12%">Posted on <span data-ng-bind="twitter.created | date:'medium'"></span></td>
					<td width="2%"><spacer type="block" width="1%"></td>
					<td width="14%"><span data-ng-bind="track.body.created_time | date:'medium'"></ span>-->
                    <td width="20%">
                        {{track.title}}
                    </td>
                    <td width="20%">
						{{track.link_text}}
					</td>
					
				</tr>				
               </table>

            </small>
			<h4 class="list-group-item-heading" data-ng-bind="track.name"></h4>
        </a>
         <pagination  total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()"></pagination>	
    </div>

</section>